<div class="mb-8">
<h1 class="text-3xl font-medium mb-1 text-left"><%= title %></h1>
  <% if defined?(subtitle) && subtitle.present? %> 
    <p class="text-base font-extralight text-left"><%= subtitle %></p> 
  <% end %>
</div>