<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1 class="text-2xl font-bold mb-2 text-left">Allen's Blog.</h1>
<p class="text-sm font-light mb-5 text-left">Expert in yappological sciences</p>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p class="text-amber-500 underline font-semibold">
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<p class="text-cyan-600 underline font-semibold">
<%= link_to "New post", new_post_path %>
</p>